$image-overlap: 40px;
$max-text-width: 1300px;

$section-content-margin: calc(130px + #{4vw});
$section-content-margin-mob: calc(40px + #{2vw});


.page-context.project{
	padding: 40px;
	@media (max-width: 600px){
		padding: 20px;
	}
}

.project .project-section{
	margin-bottom: $section-content-margin;
	border-bottom: 1px solid #ccc;

	@media (max-width: 600px){
		margin-bottom: $section-content-margin-mob;
	}

	&:last-child{
		margin-bottom: 0;
	}
}


.project .project-section.intro .intro-text{
	width: 100%;

	p {
		width: 60%;
		max-width: $max-text-width;

		@media (max-width: 600px){
			width: 100%;
		}
	}
}

.project .project-section .image-wrap.full-width {
	margin-bottom: $section-content-margin;
	margin-right: 0;

	@media (max-width: 600px){
		margin-bottom: $section-content-margin-mob;
	}
}


.project .project-section :last-child{
	margin-bottom: 0;
}


//image-group styling

.project .project-section .image-group {
	margin: 0 auto 100px auto;
	width: 100%;
	max-width: 1500px;
	// background: rgba(255,0,0,0.2);
}


.project .project-section .image-group:last-child {
	margin-bottom: 0;
}

.project .project-section .image-dip{
	padding: 50px 0;
	margin: 0 auto 100px auto;
	width: 100%;
	max-width: 1500px;
	// background: rgba(0,0,255,0.2);
	white-space: nowrap;
}



//image-wrap styling
.project .project-section .image-wrap {
	display: inline-block;
	width: 45%;
	vertical-align: middle;
	margin-bottom: $section-content-margin;
	position: relative;

	&.portrait {
		width: 35%;
	}

	@media (max-width: 600px){
		width: 100%;
		margin-bottom: $section-content-margin-mob;
	}
}

.project .project-section .image-wrap.full-width {
	width: 100%;
}


.project .project-section.intro .image-wrap{
	width: 100%;
	margin-bottom: 0;
}


.project .project-section .image-group .image-wrap{
	margin-bottom: -60px;

	&:nth-child(odd){
	}

	&:nth-child(even){
		margin-left: 55%;
	}

	&:last-child{
		margin-bottom: 0;
	}
}



.project .project-section .image-wrap.portrait{
	margin-left: 10%;
	@media (max-width: 600px){
		padding-left: 0;
	}
}


.project .project-section .image-dip .image-wrap{
	width: 45%;
	margin: 0;
	display: inline-block;
	// float: left;
	vertical-align: middle;

	&:first-child{
		margin-right: calc(10% - #{4px});
	}
}


.project .project-section .image-text-group .image-wrap{
	width: 45%;
	margin: 0;
	display: inline-block;
	vertical-align: middle;

	&:first-child{
		margin-right: calc(10% - #{4px});
	}
}


.project .project-section .image-text-group .image-wrap.portrait:nth-child(even){
	margin-left: 0;
}


//image styling


.project .project-section .image-wrap img{
	width: 100%;
}



//caption styling

.project .project-section .image-wrap .image-caption {
	margin: 10px 0 0 0;
	position: absolute;
	max-width: 100%;
	@media (max-width: 600px){
		position: relative;
		margin-bottom: 10px;
	}
}

//if it's the last in a group, set relative so it fills the space
.project .project-section .image-group .image-wrap:last-child .image-caption {
	position: relative;
}

.project .project-section .image-wrap.full-width .image-caption{
	position: relative;
	max-width: 30%;
}

.project .project-section .image-dip .image-wrap .image-caption{
	position: relative;
}



//image-text-group styling
.project .project-section .image-text-group{
	margin: 0 auto 100px auto;
	width: 100%;
	max-width: 1500px;
	// background: rgba(0,255,0,0.2);

	p {
		width: 100%;
	}

	> :nth-child(odd) {
		margin-right: calc(10% - #{5px});
	}
}




//text-block styling

.project .project-section .text-block {
	width: 100%;
	margin-bottom: $section-content-margin;
	padding-left: 10%;

	@media (max-width: 600px){
		padding-right: 10%;
		margin-bottom: $section-content-margin-mob;
	}

	p {
		margin: 0;
		padding: 0 0 15px 0;
		width: 70%;
		max-width: $max-text-width;

		@media (max-width: 600px){
			width: 100%;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}


.project .project-section .image-text-group .text-block{
	width: 35%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;

	&:nth-child(odd){
		margin-left: 10%;
	}

	p {
		width: 100%;
	}
}

