@import "variables";


.page-context.project{
	padding: 40px;
	padding-right: 74px;

	@media (max-width: 600px){
		padding: 20px;
	}
}

.project .project-section{
	margin: 0 auto $section-content-margin auto;
	border-bottom: 1px solid #ccc;
	max-width: $max-text-width;

	@media (max-width: 600px){
		margin-bottom: $section-content-margin-mob;
	}

	&:last-child{
		margin-bottom: 0;
	}
}


.project .project-section.intro .intro-text{
	width: 100%;

	p {
		width: 60%;
		max-width: $max-text-width;

		@media (max-width: 600px){
			width: 100%;
		}
	}
}

.project .project-section .image-wrap.full-width {
	margin-bottom: $section-content-margin;
	margin-right: 0;

	@media (max-width: 600px){
		margin-bottom: $section-content-margin-mob;
	}
}


.project .project-section :last-child{
	margin-bottom: 0;
}


//image-group styling

.project .project-section .image-group {
	margin: 0 auto 100px auto;
	width: 100%;
	max-width: 1500px;
	// background: rgba(255,0,0,0.2);
}


.project .project-section .image-group:last-child {
	margin-bottom: 0;
}

.project .project-section .image-dip{
	margin: 0 auto 100px auto;
	width: 100%;
	max-width: 1500px;
	// background: rgba(0,0,255,0.2);
	font-size: 0;
}


.project .project-section .image-trip{
	margin: 0 auto 100px auto;
	width: 100%;
	max-width: 1500px;
	// background: rgba(0,0,255,0.2);
	font-size: 0;
}



//image-wrap styling
.project .project-section .image-wrap {
	display: inline-block;
	width: calc(50% + #{$image-overlap/2});
	vertical-align: middle;
	margin-bottom: $section-content-margin;
	position: relative;

	&.portrait {
		width: calc(40% + #{$image-overlap/2});

		@media (max-width: 600px){
			margin-bottom: $section-content-margin-mob;
		}
	}

	@media (max-width: 600px){
		width: 100%;
		margin-bottom: $section-content-margin-mob;
	}
}

.project .project-section .image-wrap.full-width {
	width: 100%;
}


.project .project-section.intro .image-wrap{
	width: 100%;
	margin-bottom: 0;
}


.project .project-section .image-group .image-wrap{
	margin-bottom: -$image-overlap;

	@media (max-width: 600px){
		margin-bottom: 10px;
		width: 95%;

		&.portrait{
			width: 80%;
		}

	}

	&:nth-child(even){
		margin-left: calc(50% - #{$image-overlap/2});

		@media (max-width: 600px){
			margin-left: 5%;

			&.portrait{
				margin-left: 20%;
			}
		}

	}
}


.project .project-section .image-group.start-right .image-wrap{

	&:nth-child(odd){
		margin-left: calc(50% - #{$image-overlap/2});

		@media (max-width: 600px){
			margin-left: 5%;

			&.portrait{
				margin-left: 20%;
			}
		}

	}

	&:nth-child(even){
		margin-left: 0;
		&.portrait{
			margin-left: 10%;

			@media (max-width: 600px){
				margin-left: 0;
			}

		}
	}
}


.project .project-section .image-wrap.portrait{
	margin-left: 10%;
	@media (max-width: 600px){
		margin-left: 0;
	}
}


.project .project-section .image-dip .image-wrap{
	width: calc(50% - #{$vertical-centre-margin/2});
	margin: 0;
	display: inline-block;
	vertical-align: bottom;

	&:first-child{
		margin-right: $vertical-centre-margin;
	}

	@media (max-width: 600px){
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

}


.project .project-section .image-trip .image-wrap{
	width: calc(33% - #{$vertical-centre-margin/2});
	margin: 0;
	display: inline-block;
	vertical-align: bottom;
	margin-right: $vertical-centre-margin;

	&:last-child{
		margin-right: 0;
	}
}


.project .project-section .image-text-group .image-wrap{
	width: calc(50% - #{$vertical-centre-margin/2});
	margin: 0;
	display: inline-block;
	vertical-align: middle;

	&:first-child{
		margin-right: $vertical-centre-margin;
	}
}


.project .project-section .image-text-group .image-wrap.portrait:nth-child(even){
	margin-left: 0;
}



//image styling

.project .project-section .image-wrap img{
	width: 100%;
}



//caption styling

.project .project-section .image-wrap .image-caption {
	margin: 10px 0 0 0;
	position: absolute;
	max-width: 100%;
	@media (max-width: 600px){
		position: relative;
		margin-bottom: -5px;
		margin-top: 0px;
	}
}


.project .project-section .image-group .image-wrap:nth-child(odd) .image-caption{
	padding-right: 2* $image-overlap;
	padding-left: 0;
	@media (max-width: 600px){
		padding-left: 0;
		padding-right: 0;
	}
}

.project .project-section .image-group .image-wrap:nth-child(even) .image-caption{
	padding-left: 2* $image-overlap;
	padding-right: 0;
	@media (max-width: 600px){
		padding-left: 0;
		padding-right: 0;
	}
}

.project .project-section .image-group.start-right .image-wrap:nth-child(odd) .image-caption{
	padding-left: 2* $image-overlap;
	padding-right: 0;
	@media (max-width: 600px){
		padding-left: 0;
		padding-right: 0;
	}
}

.project .project-section .image-group .image-wrap:nth-child(odd):last-child .image-caption{
	padding-right: 0;
	padding-left: 0;
}





//if it's the last in a group, set relative so it fills the space
.project .project-section .image-group .image-wrap:last-child .image-caption {
	position: relative;
}


.project .project-section .image-wrap.full-width .image-caption{
	position: relative;
	max-width: 30%;
}

// .project .project-section .image-dip .image-wrap .image-caption{
// 	position: relative;
// }



//image-text-group styling
.project .project-section .image-text-group{
	margin: 0 auto 100px auto;
	width: 100%;
	max-width: 1500px;
	font-size: 0;
	// background: rgba(0,255,0,0.2);

	p {
		width: 100%;
	}

	> :nth-child(odd) {
		margin-right: $vertical-centre-margin;
	}
}




//text-block styling

.project .project-section .text-block {
	width: 100%;
	margin-bottom: $section-content-margin;
	padding-left: 10%;

	&:last-child{
		margin-bottom: 0;
	}

	@media (max-width: 600px){
		padding-right: 10%;
		margin-bottom: $section-content-margin-mob;
	}

	p {
		margin: 0;
		padding: 0 0 15px 0;
		width: 70%;
		max-width: $max-text-width;

		@media (max-width: 600px){
			width: 100%;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}


.project .project-section .image-text-group .text-block{
	width: calc(50% - #{$vertical-centre-margin/2});
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	padding-left: 0;

	p {
		width: 100%;
	}
}


.project .project-section .quote-block{
	width: calc(50% - #{$vertical-centre-margin/2});
	// background: rgba(0,255,0,0.2);
	display: inline-block;
	vertical-align: bottom;
}

.project .project-section .quote-block img{
	width: 130px;
}


.project .project-section table{
	width: 100%;

	tr {
		width: 100%;
	}

	td:nth-child(2){
		width: 55%;
	}

	td:first-child{
		width: 45%;
		padding-right: 10px;
		font-weight: bold;
	}

}
