@import "variables";

.scrolling-projects {
  // width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 20px;
  white-space: nowrap;
  // height: 420px;
  margin-bottom: 50px;
}

.scrolling-projects .tile {
  width: calc(90px + #{6vw});
  height: auto;
  margin-right: $vertical-centre-margin;
  position: relative;
  display: inline-block;
}

.scrolling-projects .tile .tile-inner-wrap {
  display: block;
}

.scrolling-projects .tile img {
  width: 100%;
}