h1 {
	font-size: calc(25px + #{0.7vw});
}

h2 {
	font-size: calc(12px + #{0.7vw});
}

p {
	font-size: calc(12px + #{0.5vw});
}

.text-block.inline p {
	font-size: calc(10px + #{0.5vw});
}

p.image-caption {
	font-size: calc(10px + #{0.2vw});
	color: #aeaeae;
}