//sizes
$max-text-width: 1300px;
$max-article-p-width: 700px;
$sidebar-width: 40px;
$sidebar-width-expanded: 280px;




//margins
$section-content-margin: calc(90px + #{4vw});
$section-content-margin-mob: calc(40px + #{2vw});
$image-overlap: 20px;
$vertical-centre-margin: 20px;




//transitions
$page-transition-speed: 0.33s;
$menu-hover-speed: 0.33s;